@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #1c032c, #6751a1, #160718);
  color: #fff;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  animation: fadeIn 1s ease;
  width: 350px;
}

h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 700;
  color: #d8cae6;
  text-shadow: 0 0 10px rgba(36, 29, 25, 0.4);
  transition: 0.3s ease;
}

h1:hover {
  transform: scale(1.1);
  text-shadow: 0 8px 40px rgba(0, 0, 0, 0.9);
}

input[type="date"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

input[type="date"]:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(5, 5, 5, 0.6);
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #b9a2c2, #7e55e8);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px rgba(5, 5, 5, 0.6);
}

#age-display {
  margin-top: 25px;
  font-size: 1.1rem;
  /* line-height: 2.5rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

#age-display p {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

#age-display p:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(5, 5, 5, 0.6);
}

#age-display span {
  font-size: 2rem;
  font-weight: bold;
  color: #d8cae6;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(1.9);
  }
}
